<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Expenses Tracker</title>
</head>

<body>

<nav>
    <ul>
        <li class="img"><img src="/static/images/dollar.png"></li>
        <li><a href="/">Expenses Tracker</a></li>

        <li class="right"><a href="/profile">Profile</a></li>

    </ul>
</nav>
<div class="body">


    <div>
        {% if expenses.count >= 1 %}
            <h1>Summary</h1>
            <h1>
                <ul class="expenses-list">
                    <li class="blue">{{ profile_budget }}$</li>

                    {% for expense in expenses %}
                        <li class="red">- {{ expense.price }}$</li>
                    {% endfor %}

                    <li class="green">= {{ money_left }}$ left</li>
                </ul>
            </h1>
        {% endif %}
    </div>

    <h1>My Expenses</h1>
    <button><a href="/create">Add Expense</a></button>
    <div class="expenses-container">

        {% if expenses.count >= 1 %}
            {% for expense in expenses %}
                <div class="expense-container">
                    <h2>{{ expense.title }}</h2>
                    <hr>
                    <img src={{ expense.image_url }}>
                    <p>{{ expense.description }}</p>
                    <div class="expense-detail">
                        <div>
                            <p>Price: {{ expense.price }}$</p>
                        </div>
                        <div class="right">
                            <button class="edit"><a href="/edit/{{ expense.pk }}">Edit</a></button>
                            <button class="delete"><a href="/delete/{{ expense.pk }}">Delete</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {#        <div class="expense-container">#}
            {#            <h2>TV</h2>#}
            {#            <hr>#}
            {#            <img src="https://lh3.googleusercontent.com/proxy/nCJ4jT2qWgkNO95Y3YSePfew9lqa0AkeQoLLi5LM_ZbT_S_KdizZdZq3YzUm32kGNBk3DyM4eKwEmk0VX9esNR1NV5Ji480jF9pte79893Ml8C-kdw">#}
            {#            <p>My old tv broke, so I bought myself a new one.</p>#}
            {#            <div class="expense-detail">#}
            {#                <div>#}
            {#                    <p>Price: 400.0$</p>#}
            {#                </div>#}
            {#                <div class="right">#}
            {#                    <button class="edit"><a href="/edit/4">Edit</a></button>#}
            {#                    <button class="delete"><a href="/delete/4">Delete</a></button>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
        {% endif %}

    </div>

</div>
<footer>
    <div>Python Web Basics Exam Preparation @SoftUni</div>
</footer>


</body>
</html>