{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/todos/style.css' %}">
</head>
<body>
<div class="root">
    <h1>Todos App!</h1>
    <ul class="todo-list">
        {% for todo in todos %}
            <li class="todo-list-item">
                <h2 class="todo-title collapse-toggle">{{ todo.title }}</h2>
                <p class="todo-description collapsable">{{ todo.description }}</p>
                <div class="todo-state">
                    {% if todo.is_done %}
                        <h3 class="done">Done</h3>
                    {% else %}
                        <h3 class="not-done">Not Done</h3>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<script src="{% static 'js/todos/main.js' %}"></script>
</body>
</html>