{% extends  'shared/base.html'%}
{% load static%}

{% block site_title %}
    Home
{% endblock %}

{% block site_main_content %}

    <h1 id="helloTxt">Hello World</h1>
    <button id="colorBtn">Change Color</button>
    <ul>
        {% if users %}
            {% for user in users %}
                <li class="highlightable {% cycle 'even' 'odd' %}">
                    {{ user.username }}{% cycle ' 1' ' 2' %}
                </li>
            {% endfor %}
        {% else %}
            <li class="highlightable">No users</li>
        {% endif %}
    </ul>
    <script>
            //Changes hello world text color//
            let clicked = false;
            let btn = document.getElementById("colorBtn");
            btn.onclick = function(){
                let h1 = document.getElementById('helloTxt');
                if (!clicked){
                    h1.style.color = '#0000ff'
                    clicked = true;
                }else{
                    h1.style.color = '#FF0000'
                    clicked = false;
                }
            }
        </script>
{% endblock %}
