<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h1 id="helloTxt">Hello World From ClassView</h1>
    <button id="colorBtn">Change Color</button>
    <ul>
        <li>Users {{ users }}</li>
        <li> OjectList {{ object_list }}</li>
    </ul>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    <style>
        h1{
            color: #ff0000;
        }
        button{
            color: #212121;
            border-radius: 2px;
        }
    </style>
    <script>
        //Changes hello world text color//
        let clicked = false;
        let btn = document.getElementById("colorBtn");
        btn.onclick = function(){
            let h1 = document.getElementById('helloTxt');
            if (!clicked){
                h1.style.color = '#0000ff'
                clicked = true;
            }else{
                h1.style.color = '#FF0000'
                clicked = false;
            }
        }
    </script>
</body>
</html>