.banner{
    width: 1046px;
    padding: 15px 15px 15px;
    height: 450px;
    background-color: #e9ecef;
}

.banner:before{
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url("/static/animals-bg.png");
    display: block;
    content: "";
    height: 300px;
}

.banner header{
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 5px 0;
}

.row{
    display:flex;
    align-items: stretch;
}

.col{
    flex: 50%;
}

.button{
    padding: 5px 15px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 4px;
}